body {
    font-family: sans-serif;
    margin: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

#report-container {
    margin-bottom: 40px;
}

.collapsible {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
}

#log-container {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
}
